

body {
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8ff;
}


img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}

.grid-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.grid-item {
  text-align: center;
  overflow: hidden;
}

.alert {
  text-align: center;
  background-color: #D0F0C0;
  padding: 5px;
}

.accordion {
  background-color: #f8f8ff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  text-align: center;
  border-radius: 15px;
}

.panel {
  padding: 0 18px;
  background-color: #f8f8ff;
  display: none;
  overflow: hidden;
  font-size: small;
}

.alert-delete {
    text-align: center;
    background-color: #FFCCCB;
    padding: 5px;
}


@media (min-width: 600px) {
  .grid-container { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .grid-container { grid-template-columns: repeat(3, 1fr); }
}


.container {
  align-items: center;
}

.navbar-down {
  background-color: #f8f8ff  ;
  overflow: hidden;
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-down a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0 2rem;
}

.navbar-down a:hover {
  background-color: #ddd;
  color: black;
}


.fas {
  color: #444;
}


.topnav {
  background-color: #f8f8ff;
  overflow: hidden;
  position: sticky;
  width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-align:right;  

}

.topnav h3 {
  float:left;
  padding-left: 1rem;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav li {
  list-style: none;
  float: right;
}